.content-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;    
}
label{
    display: block;
    color:#7b7b7b;
}
.form-group{
    margin-bottom: 15px !important;
}
.margin-bottom-20{
    margin-bottom: 20px !important;
}
.content-pad{
    padding: 20px;
}